@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}


:root {
--White: hsl(0, 0%, 100%);
--Light-pink: hsl(275, 100%, 97%);
--Grayish-purple: hsl(292, 16%, 49%);
--Dark-purple: hsl(292, 42%, 14%);
--Font-size: 16px;  /* Paragraf */
--Font-Family: "Work Sans", sans-serif;
}

body {
    min-height: 100vh;
    font-size: var(--Font-size);
    font-family: var(--Font-Family);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

body::after{
    position: absolute;
    left: 0;
    top: 0;
    content: "";
    background-image: url("./assets/images/background-pattern-desktop.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    width: 100%;
    height:320px;
    z-index: -1;
}   

main {
    width: 38%;
    min-width: 577px;
    background-color: var(--White);
    padding: 2rem;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 5px 25px rgba(0, 0, 0, .2);
    min-height: 422px;

}

.card-item {
    border-bottom:  2px solid rgba(0, 0, 0, .2);
    padding: .5rem 0rem;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    
}
.card-header {
    display: flex;
    gap: 1rem;
    padding: 1rem 0rem;
}

.card-header h1 {
    font-size: 3rem;
    font-weight:700;
}

.card-body {
    display: flex;
    flex-direction: column;
    gap: 1rem;


}



.card-item:last-child{  
    border: none;
}
.card-question {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}


.icon-question {
width: 30px;
height: 30px;
background-image: url("./assets/images/icon-plus.svg");
background-repeat: no-repeat;
transition: all .3s ease;
}
.card-question h5 {
    width: 90%;
    font-size: 1rem;
    color: var(--Dark-purple);
}
.card-question h5 {
    color:#AD28EB;
}

.card-answer {
max-height: 0px;
opacity: 0;
overflow: hidden;
transition: all .3s ease;
}

.card-answer p {
    color: var(--Grayish-purple);
    font-size: .9rem;
    line-height: 1.7rem;
}


.show {
opacity: 1 !important;
max-height: 77px !important;
}

.changeIcon {
    background-image: url("./assets/images/icon-minus.svg");
}



@media screen and (max-width:600px) {
    
    main {
        width: 95%;
        min-width: 0;
    }
}
